# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg
*.egg-info/
dist/
build/
.eggs/
.venv/
venv/

# PDM
.pdm-python
.pdm-build/
pdm.lock

# Testing & coverage
.pytest_cache/
.coverage
coverage.xml
htmlcov/

# Mypy
.mypy_cache/

# Ruff
.ruff_cache/

# Logs
logs/*.log

# Environment
.env
.env.local

# IDEs
.idea/
.vscode/
*.swp
*.swo
